.home__container .news__list {
  margin-left: 85px;
}
.home__container .news__item {
  display: flex;
  height: 40px;
  margin: 15px 0;
  line-height: 40px;
  font-size: 18px;
}
.home__container .news__time {
  background: #40A0B6;
  color: white;
  padding: 0 0.5em;
}
.home__container .news__title {
  margin: 0 0 0 70px;
}