/* site cover treatment */
.home__container .home__cover {
  position: fixed;
  z-index: 1;
  top: 0;
  background: white;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 75px;
  height: calc(100vh - 75px);
  max-height: calc(100vh - 75px);
}
.home__container .cover__image {
  height: 100%;
}
.home__container .home__logo {
  position: fixed;
  top: calc(22vh + 75px);
  left: 10vw;
  z-index: 5;
}
.home__container .logo__image {
  position: relative;
  width: 210px;
  height: 160px;
  background: transparent;
}
.home__container .logo__slogan {
  display: inline-block;
  position: relative;
  vertical-align: baseline;
  margin-left: 20px;
  font-size: 24px;
}
.home__container .logo__slogan::after {
  content: '';
  height: 1px;
  position: absolute;
  left: 20px;
  right: 30px;
  top: 1.05em;
  background: linear-gradient(to right,
    rgba(67, 162, 180, 0),
    rgba(67, 162, 180, 1) 50%,
    rgba(67, 162, 180, 0)
  );
}
.home__container .slogan__line {
  margin: 0;
}
.home__container .slogan__line--1 {
  margin-left: 3.5em;
}
.home__container .home__buffer {
  width: 100%;
  height: calc(100vh - 75px);
}
.home__container .home__body {
  position: relative;
  border-top: 1px solid black;
  background: #EDEDED;
  z-index: 5;
}
/* carousel */
.home__container .banner__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}
.home__container .lt-carousel__list {
  transition: transform 0.5s;
}
.home__container .banner__wrapper {
  display: block;
  position: relative;
}
.home__container .banner__image {
  vertical-align: top;
  width: 770px;
  height: 370px;
}
.home__container .banner__title {
  position: absolute;
  bottom: 0;
  line-height: 30px;
  width: calc(100% - 2em);
  margin: 0;
  padding: 0 1em;
  font-size: 20px;
  color: white;
  background: #343434;
  opacity: 0.5;
}
.home__container .banner__controller {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.home__container .controller__jumper {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0 black;
  margin: 0 20px;
}
.home__container .controller__jumper:hover,
.home__container .controller__jumper.selected {
  background: #343434;
}
