.video__container {
  margin-left: 50px;
}
.video__container .list__video {
  display: flex;
  height: 250px;
  margin-bottom: 60px;
}
.video__container .list__video:last-child {
  margin-bottom: 130px;
}
.video__container .video__cover {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}
.video__container .video__cover:hover {
  opacity: 0.75;
}
.video__container .video__cover:hover::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('~@/assets/images/play.png') no-repeat center;
  background-size: 40%;
}
.video__container .video__cover > img {
  width: 100%;
  height: 100%;
}

/* article */
.video__container .video__info {
  margin-left: 100px;
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.video__container .info__header {
  flex: 0 0 auto;
}
.video__container .info__title {
  position: relative;
  height: 30px;
  line-height: 30px;
  margin: 18px 0 18px;
  font-weight: normal;
  font-size: 28px;
}
.video__container .info__title::after {
  content: '';
  display: block;
  margin-top: 8px;
  height: 1px;
  background: linear-gradient(to right, black, #EDEDED);
}
.video__container .info__album {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.video__container .info__author {
  flex: 0 1 auto;
}
.video__container .info__others {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
}
.video__container .info__title::before {
  position: absolute;
  display: block;
  content: '';
  left: -50px;
  top: 2px;
  width: 26px;
  height: 26px;
  transform: rotate(48deg) scale(1.8);
  background-size: cover;
  background-image:url("~@/assets/images/arrow.svg");
}
.video__container .info__urls {
  flex: 0 0 auto;
  display: flex;
}
.video__container .urls__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
}
.video__container .urls__icon > .icon {
  content: '';
  display: block;
  height: 100%;
}
.video__container .urls__icon:hover > .icon {
  opacity: 0.5;
}
.video__container .urls__icon--bilibili > .icon {
  background: url('~@/assets/images/bilibili_color.svg') no-repeat center;
  background-size: 70%;
}
.video__container .urls__icon--niconico > .icon {
  background: url('~@/assets/images/niconico.png') no-repeat 50% 40%;
  background-size: 70%;
}
.video__container .urls__icon--youtube > .icon {
  background: url('~@/assets/images/youtube.svg') no-repeat center;
  background-size: 70%;
}
.video__container .urls__icon:not(:first-child) {
  margin-left: 8px;
}
