.video__container {
  margin-left: 50px;
}
.video__container .list__video {
  display: flex;
  height: 250px;
  margin-bottom: 60px;
}
.video__container .list__video:last-child {
  margin-bottom: 130px;
}
.video__container .video__cover {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}
.video__container .video__cover > img {
  width: 100%;
  height: 100%;
}

/* article */
.video__container .video__info {
  margin-left: 100px;
  width: 350px;
  height: 100%;
}
.video__container .info__title {
  position: relative;
  height: 30px;
  line-height: 30px;
  margin: 18px 0 18px;
  font-weight: normal;
  font-size: 28px;
}
.video__container .info__title::after {
  content: '';
  display: block;
  margin-top: 8px;
  height: 1px;
  background: linear-gradient(to right, black, #EDEDED);
}
.video__container .info__album {
  font-size: 14px;
  margin-bottom: 12px;
}
.video__container .info__others {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 19px;
}
.video__container .info__title::before {
  position: absolute;
  display: block;
  content: '';
  left: -50px;
  top: 2px;
  width: 26px;
  height: 26px;
  transform: rotate(48deg) scale(1.8);
  background-size: cover;
  background-image:url("~@/assets/images/arrow.svg");

  /* content: 'a'; */
  /* display: inline-block; */
  /* width: 40px; */
}
.video__container .info__urls {
  margin-top: 20px;
  display: flex;
}
.video__container .urls__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
}
.video__container .urls__icon:not(:first-child) {
  margin-left: 8px;
}