.lt-modal__mask {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.25);
}

body.modal-open {
  overflow: hidden;
}

/* window */
.lt-modal__window {
  background: white;
}
.lt-modal__window--center {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* nav */
.lt-modal__window--nav {
  border-radius: 8px;
}
.nav__wrapper {
  background: #43a2b4;
  color: white;
  height: 38px;
  line-height: 38px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
}
.nav__button:hover {
  text-decoration: underline;
}
.nav__button {
  user-select: none;
}
.nav__button.hide > span {
  display: none;
}


/* v-modal */
.video-modal__window {
  display: flex;
}
.video-modal__column--video {
  margin: 26px 26px 30px 26px;
}
.video-modal__title {
  font-size: 28px;
  margin: 0;
}
.v-modal__embed {
  display: block;
  margin-top: 24px;
}

.video-modal__column--description {
  margin: 100px 0 0;
}
.video-modal-description__section {
  position: relative;
  margin: 0 64px 30px 20px;
  padding: 5px 0;
}
.video-modal-description__section::before {
  position: absolute;
  top: 0;
  left: -15px;
  bottom: 0;
  content: '';
  width: 5px;
  background: #43a2b4;
}
.video-modal__column--description .section__text {
  font-size: 14px;
  margin: 0;
}
.video-modal__column--description a {
  color: #43a2b4;
}
.video-modal-description__section--link {
  line-height: 1.25;
}
.video-modal-description__section--link .section__text:first-child {
  margin-bottom: 0.5em;
}