.lt-modal__mask {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.25);
}

body.modal-open {
  overflow: hidden;
}

/* window */
.lt-modal__window {
  background: white;
}
.lt-modal__window--center {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* nav */
.lt-modal__window--nav {
  border-radius: 8px;
}
.nav__wrapper {
  background: #43a2b4;
  color: white;
  height: 38px;
  line-height: 38px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
}
.nav__button:hover {
  text-decoration: underline;
}
.nav__button {
  user-select: none;
}
.nav__button.hide > span {
  display: none;
}

/* general */
.lt-modal__window .with-v-bar {
  position: relative;
  padding: 5px 0;
}
.lt-modal__window .with-v-bar::before {
  position: absolute;
  top: 0;
  left: -15px;
  bottom: 0;
  content: '';
  width: 5px;
  background: #43a2b4;
}
.lt-modal__window .section__text {
  font-size: 14px;
  line-height: 1.25;
  margin: 0;
}
.lt-modal__window .section__text--gap {
  margin-bottom: 1em;
}
.lt-modal__window .modal__title {
  font-size: 28px;
  margin: 0;
}
.lt-modal__window .modal__link {
  color: #43a2b4;
}
.lt-modal__window .modal__link--disabled {
  color: #777777;
}
.lt-modal__window .modal__link:hover {
  color: #95C7D3;
}
/* v-modal */
.v-modal__window {
  display: flex;
}
.v-modal__title-container {
  display: flex;
  align-items: center;
}
.v-modal__header-link {
  display: block;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid black;
}
.v-modal__header-link.disabled {
  border-color: #777777;
}
.v-modal__header-link:first-of-type {
  margin-left: 20px;
}
.v-modal__column--video {
  margin: 26px 26px 30px 26px;
}
.v-modal__embed {
  display: block;
  margin-top: 24px;
}
.v-modal__embed.hide {
  display: none;
}

.v-modal__column--description {
  margin: 100px 0 0;
}
.v-modal-description__section {
  margin: 0 64px 30px 20px;
}
.v-modal-description__section--link {
  line-height: 1.25;
}