.lyrics__container {
  background: white;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.25);
  min-height: 100vh;
  z-index: -1;
}
.lyrics__container > .background {
  position: relative;
  padding: 50px 50px 80px;
}
.lyrics__container > .background::before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('~@/assets/images/logo_cyan.svg') no-repeat;
  background-position: 400px 150px;
  background-size: 175%;
  opacity: 0.125;
}
/* track info */
.lyrics__container .track-info__header {
  display: inline-flex;
  position: relative;
  margin-bottom: 20px;
  padding-right: 80px;
}
.lyrics__container .track-info__header::after {
  content: '';
  position: absolute;
  left: 40px;
  right: 0;
  height: 1px;
  bottom: -10px;
  background: linear-gradient(to right,
  rgba(67, 162, 180, 1),
  rgba(67, 162, 180, 1) 50%,
  rgba(67, 162, 180, 0));
}
.lyrics__container .track-info__title {
  margin: 0;
}
.lyrics__container .track-info__links {
  display: flex;
  align-items: flex-end;
  margin-left: 40px;
}
.lyrics__container .track-info__link {
  display: block;
  height: 26px;
  width: 38px;
  /* border: 1px solid black; */
  /* border-radius: 4px; */
  margin-right: 10px;
}
.lyrics__container .track-info__link--music {
  background: url('~@/assets/images/music.png') no-repeat;
  background-size: 100%;
}
.lyrics__container .track-info__link--video {
  background: url('~@/assets/images/video.png') no-repeat;
  background-size: 100%;
}
.lyrics__container .track-info__link--cover {
  background: url('~@/assets/images/cover.png') no-repeat;
  background-size: 100%;
}
.lyrics__container .track-info__author {
  padding-left: 40px;
  margin-bottom: 40px;
}
.lyrics__container .author__field {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
}
/* lyrics */
.lyrics__container .lyrics__body {
  display: flex;
}
.lyrics__container .lyrics__list {
  width: 100%;
}
.lyrics__container .lyrics__list--left {
  padding-right: 25px;
}
.lyrics__container .lyrics__list--right {
  padding-left: 25px;
}
.lyrics__container .lyrics__line {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  height: 30px;
}

/* loading-failed */
.loading-failed {
  margin: 0 auto;

}
.refresh-icon {
  height: 128px;
  width: 128px;
  display: block;
  margin: 0 auto;
  background-size: cover;
  background-image: url("~@/assets/images/refresh.svg");
}
