.lyrics__container {
  background: white;
  padding: 50px 50px 80px;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.25);
  z-index: -1;
}
/* track info */
.lyrics__container .track-info__header {
  display: inline-flex;
  position: relative;
  margin-bottom: 20px;
  padding-right: 80px;
}
.lyrics__container .track-info__header::after {
  content: '';
  position: absolute;
  left: 40px;
  right: 0;
  height: 1px;
  bottom: -10px;
  background: linear-gradient(to right,
  rgba(67, 162, 180, 1),
  rgba(67, 162, 180, 1) 50%,
  rgba(67, 162, 180, 0));
}
.lyrics__container .track-info__title {
  margin: 0;
}
.lyrics__container .track-info__links {
  display: flex;
  align-items: flex-end;
  margin-left: 40px;
}
.lyrics__container .track-info__link {
  display: block;
  height: 22px;
  width: 38px;
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 10px;
}
.lyrics__container .track-info__author {
  padding-left: 40px;
  margin-bottom: 40px;
}
.lyrics__container .author__field {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
}
/* lyrics */
.lyrics__container .lyrics__body {
  display: flex;
}
.lyrics__container .lyrics__list {
  width: 100%;
}
.lyrics__container .lyrics__list--left {
  padding-right: 25px;
}
.lyrics__container .lyrics__list--right {
  padding-left: 25px;
}
.lyrics__container .lyrics__line {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  height: 24px;
}