.news-modal {
  width: 550px;
}
.news-modal__container {
  font-size: 18px;
}

.news-modal__date {
  display: inline-block;
  margin: 24px 20px 0 30px;
  background: #43a2b4;
  color: white;
  font-size: inherit;
  padding: 6px 8px;
  font-weight: normal;
}
.news-modal__content {
  text-indent: 1em;
  padding: 0 38px 76px;
}