ul {
  padding: 0;
  margin: 0;
}

#root {
  background: #EDEDED;
  min-height: 100vh;
  position: relative;
}

.global__body {
  padding-bottom: 250px;
  width: 990px;
  margin: 0 auto;
}

.global__footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 250px;
}
