ul {
  padding: 0;
  margin: 0;
}
/* classes */
.clickable {
  cursor: pointer;
}

/* page */
#root {
  background: #EDEDED;
  min-height: 100vh;
  position: relative;
}

.global__body {
  padding-bottom: 250px;
  margin: 0 auto;
}
.global__body:not(.full-width) {
  width: 990px;
}

.global__footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 250px;
}

/* common */
.page__title {
  font-size: 44px;
  line-height: 30px;
  font-weight: normal;
}
.page__title::before {
  display: inline-block;
  vertical-align: top;
  content: '';
  height: 30px;
  width: 30px;
  margin-right: 15px;
  background: #40A0B6;  
}
