.global__footer {
  position: relative;
  z-index: 10;
  color: white;
  background-color: #343434;
}
.global__footer .footer__section {
  text-align: center;
}
/* logo */
.global__footer .footer__section--social {
  margin-top: 40px;
}
.global__footer .section__paragraph {
  margin: 0;
}
.global__footer .social__logo-wrapper {
  display: inline-block;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  background: white;
}
.global__footer .social__logo-wrapper:hover {
  box-shadow: inset -40px 0 40px -20px rgba(0,0,0, 0.5);
}
.global__footer .social__logo-wrapper:active {
  box-shadow: inset 40px 0 40px -20px rgba(0,0,0, 0.5);
}
.global__footer .social__logo-wrapper:not(:first-child) {
  margin-left: 28px;
}
.global__footer .social__logo {
  display: block;
  width: 50px;
  height: 50px;
  transform: rotate(-45deg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
}
.global__footer .social__logo--twitter {
  background-image: url("~@/assets/images/twitter.svg");
}
.global__footer .social__logo--weibo {
  background-image: url("~@/assets/images/weibo.svg");
}

/* site name */
.global__footer .footer__section--site-name {
  margin-top: 40px;
  font-size: 18px;
  letter-spacing: 0.8em;
}

/* copyright */
.global__footer .footer__section--copyright {
  margin-top: 18px;
  color: #777777;
}