.illustration__list {
  margin: 130px 0 0 60px;
  display: flex;
  flex-wrap: wrap;
}

.illustration__list > .illustration__item {
  display: block;
  margin-bottom: 60px;
}
.illustration__list > .illustration__item:hover {
  opacity: 0.75;
}
.illustration__list > .illustration__item--1 {
  margin: 0 60px;
}
.illustration__list .illustration__image {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}